/* body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'proxima nova', 'open sans', 'Helvetica', sans-serif;
} */

.Marquee {
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
}

.Marquee-content {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: marquee 15s linear infinite running;
}
.Marquee-content:hover {
  animation-play-state: paused;
}
.Marquee-tag {
  width: 175px;
  margin: 20px 0px 20px;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.Marquee-tag:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-100%);
  }
}
