body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'proxima nova', 'open sans', 'Helvetica', sans-serif;
}
/* .Marquee {
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
}

.Marquee-content {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: marquee 7s linear infinite;
}
.Marquee-content:hover {
  animation-play-state: paused;
}
.Marquee-tag {
  width: 175px;
  margin: 20px 0px 20px;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.Marquee-tag:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
  cursor: pointer;
} */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-100%);
  }
}
.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
}
.marquee-container:hover {
  animation-play-state: paused !important;
}

.marquee {
  --play: running !important;
  --direction: normal !important;
  --duration: 25s !important;
  --delay: 0s !important;
  --iteration-count: infinite !important;
  flex: 0 0 auto;
  /* min-width: 0%; */
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  -webkit-animation-play-state: var(--play);
  animation-play-state: var(--play);
  -webkit-animation-delay: var(--delay);
  animation-delay: var(--delay);
  -webkit-animation-direction: var(--direction);
  animation-direction: var(--direction);
}
img.announcementimage {
  width: 50px !important;
  height: 50px !important;
  margin-top: 15px !important;
}
.text-center {
  text-align: center !important;
  padding-left: 20px;
}

.Marquee-tag {
  min-width: 260px !important;
  margin: 20px 0px 20px;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.Marquee-tag:hover {
  animation-play-state: paused !important;
}
.css-hmz4fg-MuiButtonBase-root-MuiListItemButton-root {
  background-color: rgb(245 134 50 / 16%) !important;
  color: red !important;
  font-weight: 400 !important;
}
a.MuiListItemButton-root.MuiButtonBase-root.css-hmz4fg-MuiButtonBase-root-MuiListItemButton-root.active {
  background-color: rgb(245 134 50 / 16%) !important;
  color: #f58937 !important;
}
/* .MuiListItemButton-root.MuiButtonBase-root.css-hmz4fg-MuiButtonBase-root-MuiListItemButton-root.active {
  background-color: rgb(245 134 50 / 16%) !important;
  color: #f58937 !important;
} */
.Marquee-tag:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
  cursor: pointer;
}
input[type='image'] {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.css-1stc1k {
  background-color: rgb(33, 43, 54);
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 8px;
  box-shadow: none;
  background-image: none;
  margin-left: 16px;
  margin-right: 16px;
}
a.active {
  color: rgb(245, 137, 55) !important;
  background-color: rgba(245, 134, 50, 0.16) !important;
}
.css-1intjze {
  background-color: transparent !important;
  color: rgb(99, 115, 129) !important;
}
