.admin-page {
    margin-top: 5rem;
}
.portfolio-admin-heading{
  
}
.form-para{
    margin-top: 2rem;
}
#text-field{
    width:100% !important;
    max-width: 100% !important;
}
#outlined-basic{
    width: 100% !important;
}
.text-field-card{
    width: 100% !important;
}