#table-contract {
  height: 70vh;
  overflow-y: scroll;
}
h3.projectname {
  font-size: 1.5rem;
  text-align: left;
}
/* .css-18mhetb {
  padding: 10px !important;
} */
@media screen and (max-width: 1400px) {
  p.text-left.name {
    font-size: 15px;
  }
}
