@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

span.detail {
  color: #6d7c8a;
  font-family: Public Sans, sans-serif;
}

.jss7 {
  background-color: #22abe3;
  color: #fff;
  min-width: 260px;
  transition: 0.5s;
  margin-left: -1.5rem;
}


.css-66dmcr {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.protfolioimage {
 
  filter: blur(6px);
  border-radius: 20px;

}
.frontImage {
  position: absolute;
  top: 50%;
  left: 25rem;
  z-index: 1;
}


@media screen and (max-width: 1920px) {

  p.portdescription {
    margin-top: 2rem;
    text-align: justify;
    color: #6d7c8a;
    font-family: Public Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.2rem;
  }
  .project-detail {
    padding: 1.2rem;
  }
  p.MuiTypography-root.MuiTypography-body1.css-1qvdk2m-MuiTypography-root {
    margin-top: 2rem;
  }

}
h6.details {
  font-size: 0.9rem;
  font-family: Public Sans, sans-serif;
  font-weight: 700;
}
.portfrontimage{

    border-radius: 20px;
}

@media screen and (max-width: 480px) {
  .portdescription {
    margin-top: 1rem;
    text-align: justify;
    color: #6d7c8a;
    font-family: Public Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 1024px) {
  .project-detail {
    padding-top: 4rem;
  }
}



.image-section-detail-page{
  position: relative;
}

.back-blur-image{
  width: 100%;
  filter: blur(2px);
  border-radius: 20px;
}

.upper-normal-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  width: 90%;
}
