/* .container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
} */
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  height: 379px;
  width: 300px;
  background: #808080;
  margin: auto;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url('https://res.cloudinary.com/dqscjbzij/image/upload/v1672922887/color1_mi4b2q.png') center center
    no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url('https://res.cloudinary.com/dqscjbzij/image/upload/v1672920301/d4_hzjfrm.jpg') left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover p.designation {
  opacity: 1;
}
.card0:hover p.description {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url('https://res.cloudinary.com/dqscjbzij/image/upload/v1673003964/Nikhil_cynjbm.jpg') center center
    no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url('https://res.cloudinary.com/dqscjbzij/image/upload/v1673003959/Nikhil-dark_te2rtx.jpg') left center
    no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card1:hover p.designation {
  opacity: 1;
}
.card1:hover p.description {
  opacity: 1;
}
.card2 {
  background: url('https://res.cloudinary.com/dqscjbzij/image/upload/v1673003300/Mayank_orldnp.jpg') center center
    no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url('https://res.cloudinary.com/dqscjbzij/image/upload/v1673003292/Mayank-dark_gd3neh.jpg') left center
    no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}
.card2:hover p.designation {
  opacity: 1;
}
.card2:hover p.description {
  opacity: 1;
}
.card3 {
  background: url('https://res.cloudinary.com/dqscjbzij/image/upload/v1673001750/Saurav_uxbi27.jpg') center center
    no-repeat;
  background-size: 300px;
}
.card3:hover {
  background: url('https://res.cloudinary.com/dqscjbzij/image/upload/v1673001750/saurav-dark_ivza4n.jpg') left center
    no-repeat;
  background-size: 600px;
}
.card3:hover h2 {
  opacity: 1;
}
.card3:hover .fa {
  opacity: 1;
}
.card3:hover p.designation {
  opacity: 1;
}
.card3:hover p.description {
  opacity: 1;
}
.card4 {
  background: url('https://res.cloudinary.com/dqscjbzij/image/upload/v1673003589/Chaitanya_i4kga3.jpg') center center
    no-repeat;
  background-size: 300px;
}
.card4:hover {
  background: url('https://res.cloudinary.com/dqscjbzij/image/upload/v1673003595/Chaitanya-dark_qv1jln.jpg') left center
    no-repeat;
  background-size: 600px;
}
.card4:hover h2 {
  opacity: 1;
}
.card4:hover .fa {
  opacity: 1;
}
.card4:hover p.designation {
  opacity: 1;
}
.card4:hover p.description {
  opacity: 1;
}
h2 {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  color: #ffff;
  margin: 20px 7px;
  opacity: 0;
  transition: opacity 1s;
}
p.designation {
  opacity: 0;
  color: #ffff;
  margin: -20px 10px 0px;
  transition: opacity 1s;
}
p.description {
  font-size: 12px;
  width: 140px;
  color: #fff;
  margin-left: 0.5rem;
  opacity: 0;
  margin-top: 1rem;
  font-weight: 500;
}
svg.fa.fa-codepen {
  margin-left: 0.5rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 270px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
