.admin-page {
    margin-top: 5rem;
}
.portfolio-admin-heading{
  
}
.form-para{
    margin-top: 2rem;
}
#text-field{
    width:100% !important;
    max-width: 100% !important;
}
#outlined-basic{
    width: 100% !important;
}
.text-field-card{
    width: 100% !important;
}
.section-kws{
    margin:4rem 0rem;
}

.d-f{
    display: flex !important;
}
.j-c-s-b{
    justify-content: space-between !important;
}
.l-s-t-n{
    list-style-type: none !important;
}
.f-w-900{
    font-weight: 900 !important;
}

.p-l-0{
    padding-left: 0rem !important;
}

.m-t-3{
    margin-top: 3rem !important;
}

.p-t-3{
    padding-top: 3rem !important;
}

.p-t-1{
    padding-top: 1rem !important;
}

.f-s-1_5{
    font-size: 1.5rem !important;
}
.p-b-2{
    padding-bottom: 2rem !important;
}

.c-p{
    cursor: pointer !important;
}

.a-i-c{
    align-items: center !important;
}

a.active{
    padding: 0.5rem !important;
    border-radius: 10px !important;
    color: red !important;
}